
<html>
  <head>

  </head>
  <body>
     <div class="container jumbotron">

            <img class="mx-auto d-block " src="assets/images/Admin-icon.png">
             <!---userRole text effects start-->

             <svg viewBox="0 0 960 300">
                <symbol id="s-text">
                  <text text-anchor="middle" x="50%" y="50%">Welcome To {{UserRole}}</text>
                </symbol>

                <g class = "g-ants">
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                </g>
              </svg>

             <!-----userRole text effects end-->

         </div>

  </body>
</html>






