<html>
  <head></head>

  <body>
     <h3  class="text">Trending Products<a href=''><i class="fa fa-long-arrow-right" style="color: black; font-size: 20px;"></i></a></h3><hr>

     <div class="container-fluid backgrnd">
          <div id="DivOuter1">
              <div id='DivInner1'>

                  <div>
                     <img class="image" src="../../../assets/images/addregrigirator.jpg">
                  </div>
                  <div>
                    <img class="image img2" src="../../../assets/images/add1.jpg">
                  </div>
                  <div>
                    <img class="image img2" src="../../../assets/images/add2.jpg">
                  </div>
                  <div>
                    <img class="image img2" src="../../../assets/images/tvadd.jpeg">
                  </div>
                  <div>
                    <img class="image img2" src="../../../assets/images/tvadd.jpeg">
                  </div>
                  <div>
                    <img class="image img2" src="../../../assets/images/add2.jpg">
                  </div>
                  <div>
                    <img class="image img2" src="../../../assets/images/add1.jpg">
                  </div>
                  <div>
                    <img class="image img2" src="../../../assets/images/tvadd.jpeg">
                  </div>

              </div>

                <div (click)='right3()'>
                  <i class="fa fa-chevron-circle-left arrow3" aria-hidden="true"></i>
                </div>
                <div style="right:0px" (click)='left3()'>
                  <i class="fa fa-chevron-circle-right arrow4" aria-hidden="true"></i>
              </div>

          </div>
     </div>
     <hr>
  </body>
</html>
