
<h2 style="text-align: center; color: blue;"><u>Business Details..!</u></h2><br><br><br>

<div>
  <form>
   <span style="font-size: 25px; margin-left: 400px;">Select Date:&nbsp;&nbsp;</span>
    <input style="width: 40%; height: 40px;" type="text" id="datepicker" (click)='function()' name="date" [(ngModel)]='date'><br>

    <button (click)='GetOrderProducts()' style="width: 15%; margin-left: 650px; margin-top: 50px;" mat-raised-button color='primary'>Get Business details</button>
  </form>
</div>


