<html>
  <head></head>

  <body style="background-color: rgb(175, 171, 171); height: 700px; margin-bottom: -20px;">
    <div class="container">
      <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6 success" >

               <img src="../../../assets/images/mail-activation-success.gif" class="img1">
               <div class="success-text" >{{ActivationData}}</div>
               <div class="para1">Now You Can Login..!</div>
               <div>
                  <button (click)='LoginPopup()' mat-raised-button class="btn1" style="font-size: 25px;">
                    Login Now
                  </button>
               </div>
               </div>
           <div class="col-md-3"></div>
      </div>
  </div>
  </body>
</html>


