.demo{
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color:dodgerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.forgot{
  margin-left: 240px;
  margin-top: -16px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 0px;
  margin: 0px;
}

.icon {
  padding: 13px;
  font-size: 23px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  height: 49px;
  margin-top: 7px;
  text-align: center;
  border-radius: 10px 0 0 10px ;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 0 10px 10px 0;
}


.input-field:focus {
  border: 2px solid dodgerblue;
}

.check{
  width: 14px;
  height: 14px;
}

.login{
  font-size: 20px;
}

.txt{
  margin-left: 10px;
  font-weight: bold;
}
.txterr{
  margin-left: 50px;
  color: red;
  font-weight: bold;
}


